<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Show Name from Session</title>
</head>
<body>
  <h1>Name from Session</h1>
  <p>Hello, <%= name %>!</p>
</body>
</html>
